/* Rebecca's first time using CSS */ 
/* styling for aboutIcanHazSleep.html */ 
/* PolyHacks 2016 */ 

/* adding background-color */ 
body { 
	background-color: #0B5172;
}

/* adding padding for head and body */
head {
	padding: 200px;
}
body {
	padding-right: 400px; 
	padding-left: 400px;
	padding-top: 70px
	padding-bottom: 70px ; 
}

/* editing the color of text and the background-color of the text, font, and allignment */ 
#h2 {
	color: #FFFFFF
	/* text-shadow: rgba(0, 0, 0, 1) -1px -2px 0.5em ; */
}

.greeting {
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ; 
	font-family: "Courier New", Courier, monospace ; 
}

.canHasSleep { 
	color: #000000 ;
	background-color: #66CC33 ;
	max-width: 425px ;
	text-align: left ; 
	font-family: "Courier New", Courier, monospace ;
	position: relative ; 
	left: 300px ; 
}

.response { 
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ;
	font-family: "Courier New", Courier, monospace ;
}

.projectDescription { 
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ;
	font-family: "Courier New", Courier, monospace ;
}

#catAsks {
	color: #000000 ;
	background-color: #66CC33 ;
	max-width: 425px ;
	text-align: left ;
	font-family: "Courier New", Courier, monospace ;
	position: relative ; 
	left: 300px ; 
}

#responseToCat { 
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ;
	font-family: "Courier New", Courier, monospace ;
}

table {
	color: white ; 
}

.moodAsk { 
	color: #000000 ;
	background-color: #66CC33 ;
	max-width: 425px ;
	text-align: left ;
	font-family: "Courier New", Courier, monospace ;
	position: relative ; 
	left: 300px ; 
}

.MoodData {
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ;
	font-family: "Courier New", Courier, monospace ;
}

#moodScale { 
	color: #FFFFFF ; 
	background-color: #008542 ;
	max-width: 425px ;
	font-family: "Courier New", Courier, monospace ;
}

button { 
	background-color: #E37222 ; 
	font-size: 50 px ;
	border-radius: 90%;
}
